!!! 5
html
  head
    title Index
    
    script( src="/scripts/frameworks.js" )
    script( src="/scripts/app.js" )
    //script( src="/scripts/vendor/require.js", data-main="/scripts/app" )
  
    link( rel="stylesheet", href="/stylesheets/app.css" )
  
  body
    h3 Index